.Rd{
    background: var(--dark, #242B33);
    padding-top: 200px;
    padding-bottom: 50px;
    position: relative;
}
.rd__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.rd__bg{
    position: absolute;
    right: 20px;
    top: 20px;
}
@media(max-width:995px){
    .rd__wrapper{
        flex-wrap: wrap;
    }
}
@media(max-width:395px){
    .rd__bg{
        display: none;
    }
}